.cardContainer {
  width: 300px;
  max-height: 500px;  

  .imageContainer {
    width: 100%;
    padding-top:20;
    max-height: 200px;
  }
  .imageContainer img {
    width: 100%;

    max-height: 200px;
    object-fit: contain;
  }
  /* custom-carousel.css */


}
